<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Dashboard Page</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
            integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
            crossorigin="anonymous"
        />
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
            integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
            crossorigin="anonymous"
        ></script>
        <style>
            .row.content {
                height: 500px;
            }
            footer {
                background-color: #555;
                color: white;
                padding: 15px;
            }
        </style>
        <script>
            document.addEventListener("DOMContentLoaded", () => {
                const updateForm = document.getElementById("updateUserForm");
                document.getElementById("time_display").style.display = "none";
                document.getElementById("result_label").style.display = "none";
                document.getElementById("result_form").style.display = "none";
                // Fetch user data and populate the form
                fetch(`http://localhost:3000/api/filter/user`, {
                    method: "GET",
                })
                    .then((response) => response.json())
                    .then((data) => {
                        if (data?.error) {
                            alert(JSON.stringify(data?.error));
                            window.location.href = "/g2";
                        } else {
                            if (
                                data?.isPass !== true &&
                                data?.test_type == "G2"
                            ) {
                                alert(
                                    "First you need to pass G2 test, Redirecting...."
                                );
                                window.location.href = "/g2";
                            }

                            if (
                                data?.isPass !== null &&
                                data?.test_type == "G"
                            ) {
                                document.getElementById(
                                    "result_label"
                                ).style.display = "block";
                                document.getElementById(
                                    "result_form"
                                ).style.display = "block";
                                document.getElementById(
                                    "result_pass"
                                ).innerText = data?.isPass === true ? "Pass" : data?.isPass === false ? "Fail" : "Result Awaited";
                                document.getElementById(
                                    "result_feedback"
                                ).innerText = data?.comments || "Result Awaited";
                            }
                            const timeInput = document.getElementById("time");
                            const dateInput = document.getElementById("date");
                            // Populate the read-only fields with user data
                            updateForm.firstName.value = data.first_name;
                            updateForm.lastName.value = data.last_name;
                            updateForm.licenseNumber.value = data.license_no;
                            updateForm.age.value = data.age;
                            // updateForm.username.value = data.username;
                            // updateForm.user_type.value = data.user_type;
                            // Populate the editable fields with user's car information
                            updateForm.make.value = data.car_details.make;
                            updateForm.model.value = data.car_details.model;
                            updateForm.year.value = data.car_details.year;
                            updateForm.plateNumber.value =
                                data.car_details.plat_no;
                            if (data?.test_type === "G") {
                                updateForm.make.disabled = true;
                                updateForm.model.disabled = true;
                                updateForm.year.disabled = true;
                                updateForm.plateNumber.disabled = true;

                                updateForm.date.type = "text";
                                updateForm.time.type = "text";
                                updateForm.date.value =
                                    data.appointments[0].date;
                                updateForm.time_display.value =
                                    data.appointments[0].time;
                                updateForm.date.disabled = true;
                                updateForm.time.disabled = true;
                                document.getElementById(
                                    "appointment_label"
                                ).innerText = "Appointment Details";
                                document.getElementById(
                                    "submit_button"
                                ).style.display = "none";
                                document.getElementById("time").style.display =
                                    "none";
                                document.getElementById(
                                    "time_display"
                                ).style.display = "block";
                            }
                        }
                    })
                    .catch((error) => {
                        console.error(error);
                        alert("No Data Found");
                        window.location.href = "/g2";
                    });

                updateForm.addEventListener("submit", (event) => {
                    event.preventDefault(); // Prevent the default form submission
                    // Collect and send updated car information
                    const formData = {
                        make: document.getElementById("make").value,
                        model: document.getElementById("model").value,
                        year: document.getElementById("year").value,
                        plat_no: document.getElementById("plateNumber").value,
                        date: document.getElementById("date").value,
                        time: document.getElementById("time").value,
                        test_type: "G",
                    };

                    fetch(`http://localhost:3000/api/update/user`, {
                        method: "PUT",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify(formData),
                    })
                        .then((response) => response.json())
                        .then((data) => {
                            alert("Data Updated Successfully");
                            window.location.reload();
                        })
                        .catch((error) => {
                            console.error(error);
                            alert(error + "Data not updated successfully.");
                        });
                });
            });
        </script>
    </head>
    <body>
        <%- include('./common/header.ejs') %>
        <div class="container-fluid text-center">
            <div class="row justify-content-center">
                <div class="col-md-10 my-5" id="updateFormParent">
                    <div class="card">
                        <div id="loadingMessage" style="display: none">
                            Loading...
                        </div>
                        <div class="card-header">Update User Details</div>
                        <div class="card-body">
                            <!-- Personal Information Section -->
                            <h5 class="card-title mt-3">
                                Personal Information (You are not able to update
                                Personal Details)
                            </h5>
                            <form class="text-start" id="updateUserForm">
                                <div class="form-row">
                                    <div
                                        class="form-group my-2 col-md-12 d-none"
                                    >
                                        <label for="firstName">User Id</label>
                                        <input
                                            type="text"
                                            class="form-control"
                                            id="id"
                                            disabled
                                            placeholder="User Unique Id"
                                        />
                                    </div>
                                    <div class="form-group my-2 col-md-12">
                                        <label for="firstName"
                                            >First Name</label
                                        >
                                        <input
                                            type="text"
                                            class="form-control"
                                            id="firstName"
                                            disabled
                                            placeholder="First Name"
                                        />
                                    </div>
                                    <div class="form-group my-2 col-md-12">
                                        <label for="lastName">Last Name</label>
                                        <input
                                            type="text"
                                            class="form-control"
                                            id="lastName"
                                            disabled
                                            placeholder="Last Name"
                                        />
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div
                                        class="form-group my-2 col-md-12 d-none"
                                    >
                                        <label for="licenseNumber"
                                            >License Number</label
                                        >
                                        <input
                                            type="text"
                                            class="form-control"
                                            id="licenseNumber"
                                            disabled
                                            placeholder="License Number (8 characters)"
                                        />
                                    </div>
                                    <div class="form-group my-2 col-md-12">
                                        <label for="age">Age</label>
                                        <input
                                            type="number"
                                            class="form-control"
                                            id="age"
                                            disabled
                                            placeholder="Age"
                                        />
                                    </div>
                                </div>
                                <!-- <div class="form-row">
                                    <div class="form-group my-2 col-md-12">
                                        <label for="licenseNumber"
                                            >User Name</label
                                        >
                                        <input
                                            type="text"
                                            class="form-control"
                                            id="username"
                                            disabled
                                            placeholder="User Name"
                                        />
                                    </div>
                                    <div class="form-group my-2 col-md-12">
                                        <label for="age">User Type</label>
                                        <input
                                            type="text"
                                            class="form-control"
                                            id="user_type"
                                            disabled
                                            placeholder="User Type"
                                        />
                                    </div>
                                </div> -->

                                <!-- Car Information Section -->
                                <h5 class="card-title text-center mt-5">
                                    Car Information
                                </h5>

                                <div class="form-row">
                                    <div class="form-group my-2 col-md-12">
                                        <label for="make">Make</label>
                                        <input
                                            type="text"
                                            class="form-control"
                                            id="make"
                                            placeholder="Car Make"
                                        />
                                    </div>
                                    <div class="form-group my-2 col-md-12">
                                        <label for="model">Model</label>
                                        <input
                                            type="text"
                                            class="form-control"
                                            id="model"
                                            placeholder="Car Model"
                                        />
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group my-2 col-md-12">
                                        <label for="year">Year</label>
                                        <input
                                            type="text"
                                            class="form-control"
                                            id="year"
                                            placeholder="Car Year"
                                        />
                                    </div>
                                    <div class="form-group my-2 col-md-12">
                                        <label for="plateNumber"
                                            >Plate Number</label
                                        >
                                        <input
                                            type="text"
                                            class="form-control"
                                            id="plateNumber"
                                            placeholder="Plate Number"
                                        />
                                    </div>
                                </div>

                                <!-- Appointment Information Section -->
                                <h5
                                    class="card-title text-center mt-5"
                                    id="appointment_label"
                                >
                                    Choose Appointment OR Update Appointment
                                </h5>

                                <div class="form-row" id="appointment_form">
                                    <div class="form-group my-2 col-md-12">
                                        <label for="date">Date</label>
                                        <input
                                            type="date"
                                            class="form-control"
                                            id="date"
                                            required
                                            placeholder="Choose Date"
                                            onchange="fetchTimeSlots()"
                                        />
                                    </div>
                                    <div class="form-group my-2 col-md-12">
                                        <label for="time">Time</label>
                                        <select
                                            name="time"
                                            class="form-control"
                                            id="time"
                                            required
                                            placeholder="Choose Time Slot"
                                        >
                                            <option value="">
                                                Choose Time Slot
                                            </option>
                                        </select>
                                        <input
                                            type="text"
                                            class="form-control"
                                            id="time_display"
                                            disabled
                                            placeholder="Choose Time Slot"
                                        />
                                    </div>
                                </div>

                                <h5
                                    class="card-title text-center mt-5"
                                    id="result_label"
                                >
                                    Result
                                </h5>

                                <div class="form-row" id="result_form">
                                    <div class="form-group my-2 col-md-12">
                                        <label>Is Pass</label>
                                        <textarea
                                            type="text"
                                            class="form-control"
                                            disabled
                                            rows="1"
                                            id="result_pass"
                                        >
                                        </textarea>
                                    </div>
                                    <div class="form-group my-2 col-md-12">
                                        <label>Feedback</label>
                                        <textarea
                                            type="text"
                                            class="form-control"
                                            rows="5"
                                            disabled
                                            id="result_feedback"
                                        >
                                        </textarea>
                                    </div>
                                </div>

                                <!-- Submit Button -->
                                <button
                                    type="submit"
                                    class="btn btn-primary"
                                    id="submit_button"
                                >
                                    Submit
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="container-fluid text-center">
            <p>Update soon</p>
        </footer>
        <script>
            // Define fetchTimeSlots function
            function fetchTimeSlots() {
                const selectedDate = document.getElementById("date").value;
                const timeSelect = document.getElementById("time");
                const loadingMessage =
                    document.getElementById("loadingMessage");

                timeSelect.innerHTML =
                    '<option value="">Choose Time Slot</option>';

                if (selectedDate) {
                    loadingMessage.style.display = "block";

                    // Fetch time slots based on the selected date
                    fetch(
                        `http://localhost:3000/api/single/appointments?date=${selectedDate}`,
                        {
                            method: "GET",
                        }
                    )
                        .then((response) => response.json())
                        .then((data) => {
                            loadingMessage.style.display = "none";

                            if (data?.error) {
                                alert(JSON.stringify(data?.error));
                            } else {
                                // Populate the time slots dropdown with fetched data
                                data.forEach((appointment) => {
                                    const option =
                                        document.createElement("option");
                                    option.value = appointment.time;
                                    option.text = appointment.time;
                                    timeSelect.appendChild(option);
                                });
                            }
                        })
                        .catch((error) => {
                            loadingMessage.style.display = "none";
                            console.error(error);
                        });
                }
            }

            document.addEventListener("DOMContentLoaded", () => {
                // Now call fetchTimeSlots
                fetchTimeSlots();
            });
        </script>
    </body>
</html>
